<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuzhutech.dao.auth.ChainDefinitionMapper">
  <resultMap id="BaseResultMap" type="com.fuzhutech.entity.auth.ChainDefinition">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="path_pattern" jdbcType="VARCHAR" property="pathPattern" />
    <result column="filter_chain" jdbcType="VARCHAR" property="filterChain" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT
      c.id,
      c.path_pattern,
      GROUP_CONCAT(b.filter_type,"_",b.filter_chain) as filter_chain
    FROM
      auth_chain_path_permission a,
      auth_permission b,
      auth_chain_path c
    WHERE
      a.permission_id = b.id
      AND c.id = a.chain_path_id
    GROUP BY
      c.id,
      c.path_pattern;
  </select>

</mapper>