<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuzhutech.dao.auth.MenuResourceMapper">
  <resultMap id="BaseResultMap" type="com.fuzhutech.entity.auth.MenuResource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="permission_class" jdbcType="VARCHAR" property="permissionClass" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="bool" jdbcType="INTEGER" property="bool" />
  </resultMap>
  <sql id="Base_Column_List">
    id, permission_id, permission_class, menu_name, menu_url, parent_id, bool
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from auth_resource_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from auth_resource_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fuzhutech.entity.auth.MenuResource">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into auth_resource_menu (permission_id, permission_class, menu_name, 
      menu_url, parent_id, bool
      )
    values (#{permissionId,jdbcType=INTEGER}, #{permissionClass,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{menuUrl,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{bool,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fuzhutech.entity.auth.MenuResource">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into auth_resource_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="permissionClass != null">
        permission_class,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menuUrl != null">
        menu_url,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="bool != null">
        bool,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="permissionClass != null">
        #{permissionClass,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="bool != null">
        #{bool,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fuzhutech.entity.auth.MenuResource">
    update auth_resource_menu
    <set>
      <if test="permissionId != null">
        permission_id = #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="permissionClass != null">
        permission_class = #{permissionClass,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="bool != null">
        bool = #{bool,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fuzhutech.entity.auth.MenuResource">
    update auth_resource_menu
    set permission_id = #{permissionId,jdbcType=INTEGER},
      permission_class = #{permissionClass,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      bool = #{bool,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, permission_id, permission_class, menu_name, menu_url, parent_id, bool
    from auth_resource_menu
  </select>
  <select id="selectByPageInfo" parameterType="PageInfo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from auth_resource_menu inner join (select id from auth_resource_menu order by id asc limit #{offset}, #{rows}) t2 using(id)
  </select>
  <select id="countByPageInfo" parameterType="PageInfo" resultType="java.lang.Integer">
    select count(id) count from auth_resource_menu
  </select>
  <select id="selectByWhere" parameterType="com.fuzhutech.entity.auth.MenuResource" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from auth_resource_menu
    <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER} and 
      </if>
      <if test="permissionId != null">
        permission_id = #{permissionId,jdbcType=INTEGER} and 
      </if>
      <if test="permissionClass != null">
        permission_class = #{permissionClass,jdbcType=VARCHAR} and 
      </if>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR} and 
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=VARCHAR} and 
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER} and 
      </if>
      <if test="bool != null">
        bool = #{bool,jdbcType=INTEGER} and 
      </if>
    </trim>
  </select>
  <delete id="deleteByWhere" parameterType="com.fuzhutech.entity.auth.MenuResource">
    delete from auth_resource_menu
    <where>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER} and 
      </if>
      <if test="permissionId != null">
        permission_id = #{permissionId,jdbcType=INTEGER} and 
      </if>
      <if test="permissionClass != null">
        permission_class = #{permissionClass,jdbcType=VARCHAR} and 
      </if>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR} and 
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=VARCHAR} and 
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER} and 
      </if>
      <if test="bool != null">
        bool = #{bool,jdbcType=INTEGER} and 
      </if>
    </where>
  </delete>
</mapper>