<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuzhutech.dao.auth.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.fuzhutech.entity.auth.Permission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="system_id" jdbcType="INTEGER" property="systemId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="filter_type" jdbcType="INTEGER" property="filterType" />
    <result column="filter_chain" jdbcType="CHAR" property="filterChain" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, system_id, name, filter_type, filter_chain, status, create_time, last_modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from auth_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from auth_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fuzhutech.entity.auth.Permission">
    insert into auth_permission (id, parent_id, system_id, name,
      filter_type, filter_chain, status, 
      create_time, last_modify_time)
    values (#{id,jdbcType=INTEGER},#{parentId,jdbcType=INTEGER}, #{systemId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{filterType,jdbcType=INTEGER}, #{filterChain,jdbcType=CHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastModifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fuzhutech.entity.auth.Permission">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into auth_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="systemId != null">
        system_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="filterType != null">
        filter_type,
      </if>
      <if test="filterChain != null">
        filter_chain,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="filterType != null">
        #{filterType,jdbcType=INTEGER},
      </if>
      <if test="filterChain != null">
        #{filterChain,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fuzhutech.entity.auth.Permission">
    update auth_permission
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="systemId != null">
        system_id = #{systemId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="filterType != null">
        filter_type = #{filterType,jdbcType=INTEGER},
      </if>
      <if test="filterChain != null">
        filter_chain = #{filterChain,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fuzhutech.entity.auth.Permission">
    update auth_permission
    set parent_id = #{parentId,jdbcType=INTEGER},
      system_id = #{systemId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      filter_type = #{filterType,jdbcType=INTEGER},
      filter_chain = #{filterChain,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, parent_id, system_id, name, filter_type, filter_chain, status, create_time, 
    last_modify_time
    from auth_permission
  </select>
  <select id="selectByPageInfo" parameterType="PageInfo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from auth_permission inner join (select id from auth_permission order by id asc limit #{offset}, #{rows}) t2 using(id)
  </select>
  <select id="countByPageInfo" parameterType="PageInfo" resultType="java.lang.Integer">
    select count(id) count from auth_permission
  </select>
  <select id="selectByWhere" parameterType="com.fuzhutech.entity.auth.Permission" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from auth_permission
    <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER} and 
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER} and 
      </if>
      <if test="systemId != null">
        system_id = #{systemId,jdbcType=INTEGER} and 
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR} and 
      </if>
      <if test="filterType != null">
        filter_type = #{filterType,jdbcType=INTEGER} and 
      </if>
      <if test="filterChain != null">
        filter_chain = #{filterChain,jdbcType=CHAR} and 
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER} and 
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP} and 
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP} and 
      </if>
    </trim>
  </select>
  <delete id="deleteByWhere" parameterType="com.fuzhutech.entity.auth.Permission">
    delete from auth_permission
    <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER} and 
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER} and 
      </if>
      <if test="systemId != null">
        system_id = #{systemId,jdbcType=INTEGER} and 
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR} and 
      </if>
      <if test="filterType != null">
        filter_type = #{filterType,jdbcType=INTEGER} and 
      </if>
      <if test="filterChain != null">
        filter_chain = #{filterChain,jdbcType=CHAR} and 
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER} and 
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP} and 
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP} and 
      </if>
    </trim>
  </delete>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
      d.id, d.parent_id, d.system_id, d.name, d.filter_type, d.filter_chain, d.status, d.create_time, d.last_modify_time
    from auth_permission d,
    auth_role_permission e,
    auth_user_role c
    WHERE
    d.id = e.permission_id
    AND e.role_id = c.role_id
    AND c.user_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectWithChainPath" parameterType="com.fuzhutech.entity.auth.ChainPath" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM auth_permission a
    WHERE a.id in  ( SELECT b.permission_id FROM auth_chain_path_permission b WHERE b.chain_path_id = #{id,jdbcType=INTEGER})
  </select>

  <select id="selectNotWithChainPath" parameterType="com.fuzhutech.entity.auth.ChainPath" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM auth_permission a
    WHERE a.id  NOT in  ( SELECT b.permission_id FROM auth_chain_path_permission b WHERE b.chain_path_id = #{id,jdbcType=INTEGER})
  </select>

  <select id="selectWithResource" parameterType="com.fuzhutech.entity.auth.Resource" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM auth_permission a
    WHERE a.id in  ( SELECT b.permission_id FROM auth_resource_permission b WHERE b.resource_id = #{id,jdbcType=INTEGER})
  </select>

  <select id="selectNotWithResource" parameterType="com.fuzhutech.entity.auth.Resource" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM auth_permission a
    WHERE a.id  NOT in  ( SELECT b.permission_id FROM auth_resource_permission b WHERE b.resource_id = #{id,jdbcType=INTEGER})
  </select>
  <select id="selectLastInsertId" parameterType="com.fuzhutech.entity.auth.Permission" resultType="java.lang.Integer">
    select max(id) as id
    from auth_permission
    <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER} and
      </if>
      <if test="parentId == null">
        parent_id is null and
      </if>
      <if test="systemId != null">
        system_id = #{systemId,jdbcType=INTEGER} and
      </if>
    </trim>
  </select>
</mapper>